.App {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px 10px;
}

.App-hidden {
  visibility: hidden;
}

.App-chonky-button {
  color: inherit;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #ffffff;
	border-radius: 4px;
	border: 1px solid #aaa;
	display: inline-block;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	padding: 0.5em 1em;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}
/* .App-chonky-button:hover {
} */
.App-chonky-button:active {
  position: relative;
	top: 1px;
}
.App-chonky-button:disabled {
  color: #aaa;
  border-color: #ccc;
}

.App-small-button {
  color: inherit;
	border: 1px solid #aaa;
	border-radius: 4px;
	background-color: #ffffff;
  padding: 2px 8px;
}

.App-StatusPanel {
  display: flex;
  padding: 0.5em;
  background-color: #f4e1e1;
}

.App-button-selected {
  background: #eec3c3;
  box-shadow: none;
}

.App-StatusPanel-right {
  display: inline-block;
  margin-left: auto;
}

.App-main-area {
  text-align: center;
  margin-top: 1em;
}

.App-quiz-fragment-text {
  font-size: 2em;
  padding: 2px 0; /* trying to address iOS bug with box-shadow on em getting clipped */
}

.App-quiz-fragment-text em {
  font-style: normal;
  box-shadow: 0 0 0px 2px red;
  font-style: normal;
  border-radius: 5px;
}

.App-quiz-target-text {
  font-size: 1.5em;
}

.App-quiz-space-above {
  margin-top: 1.5em;
}

.App-quiz-big-space-above {
  margin-top: 2em;
}

.App-quiz-other-buttons {
  font-size: 0.75em;
}

.App-placement-test {
  text-align: left;
}

.App-placement-test-words {
  margin-right: 1em;
}

.App-placement-test-group {
  margin-bottom: 0.5em;
}

.App-placement-test-group-level {
  color: grey;
}

.App-quiz-section-label {
  font-weight: bold;
}

.App-quiz-target-word {
  font-size: 2em;
}
