<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/favicon_256.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
    <title>Massif - About</title>
    <style type="text/css">

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: sans-serif;
}

a {
    color: #a00;
}

.wrapper {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px 10px;
}

h1, h2, h3 {
    color: #a00;
}

strong {
   font-weight: bold;
   font-style: normal;
   color: #800;
}

ul {
  /* list-style-type: none; */
  padding: 0;
  margin: 0;
}

    </style>
    <script defer data-domain="massif.la" src="https://plausible.io/js/plausible.js"></script>
</head>
<body>
    <div class="wrapper">
        <h1>Massif</h1>
        <p><a href="/">&laquo; back to search</a></p>
        <p>Massif is a free, open-source project to collect, curate, and index content for foreign language learners [<a href="https://github.com/rsimmons/massif">GitHub</a>]. Currently, the only target language is Japanese. See the <a href="https://github.com/rsimmons/massif/blob/master/README.md">README</a> for more of the thinking behind it.</p>
        <p>The current index contains ~30 million sentences extracted from the top 2000 series from the user-generated novel site <a href="http://syosetu.com/">小説家になろう</a>.</p>
        <p>Sentences are ranked by their <em>quality</em>, which is estimated using a machine learning model (<a href="https://github.com/tanreinama/gpt2-japanese">gpt2-japanese</a>). Sentences that the model deems more <em>probable</em> tend to be more idomatic, use common colocations, and generally use more common words, so they end up usually making better example sentences. (There has been <a href="https://arxiv.org/abs/2004.00881">some research</a> on this specific idea, and <a href="https://github.com/JonathanLaneMcDonald/ML_for_SLA">related work</a> on applying language models to language learning.)</p>
        <p>If you have any questions or feedback, feel free to <a href="mailto:contact@massif.la">send me an email.</a></p>
        <!-- <h2>Similar Projects</h2>
        <ul>
            <li>foo</li>
        </ul> -->
    </div>
</body>
</html>
